header.header
    #mobmenu-wrap
        .mobmenu-bar
            a(href='/').logo.logo_mob
                img(src="img/svg/gordisky_mob_logo.svg", alt="gordinsky").logo__img.logo__img_mob
            .mobmenu-bar__arch
                img(src="img/svg/architect-designer.svg", alt="gordinsky architect designer").mobmenu-bar__arch-img 
            .burger-menu.mobmenu-btn
                .burger-menu__item
                .burger-menu__item
                .burger-menu__item
        .mobmenu#mobmenu
            .mobmenu-wrap
                .mobmenu-bar
                    a(href='/').logo.logo_mob.non-focused
                        img(src="img/svg/gordisky_logo.svg", alt="gordinsky").logo__img.logo__img_mob
                    a(href="#").about__close.about__close_mob.mobmenu-btn.non-focused
                ul.mobmenu__list
                    li.mobmenu__item
                        a(href="/portfolio").mobmenu__link портфолио
                    li.mobmenu__item
                        a(href="/services").mobmenu__link услуги студии
                        ul.sub-mobmenu
                            li.sub-mobmenu__item
                                a(href="/service").sub-mobmenu__link дизайн проект
                            li.sub-mobmenu__item
                                a(href="/service").sub-mobmenu__link технический проект
                            li.sub-mobmenu__item
                                a(href="/service").sub-mobmenu__link проекты домов
                            li.sub-mobmenu__item
                                a(href="/service").sub-mobmenu__link дополнительные услуги
                    li.mobmenu__item
                        a(href="/contact").mobmenu__link контакты
                        ul.sub-mobmenu
                            li.sub-mobmenu__item
                                a(href="/contact-form").sub-mobmenu__link форма обратной связи
            .social__wrap.social__wrap_mob
                ul.social
                    li.social__item
                        a(href="#").social__link
                            img(src="img/svg/youtube.svg", alt="youtube").social__img
                    li.social__item
                        a(href="#").social__link
                            img(src="img/svg/instagram.svg", alt="instagram").social__img
                    li.social__item
                        a(href="#").social__link
                            img(src="img/svg/facebook.svg", alt="facebook").social__img
                    li.social__item
                        a(href="#").social__link
                            img(src="img/svg/pinterest.svg", alt="pinterest").social__img
                    

