@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: CaviarDreams;
  /* Гарнитура шрифта */
  src: url(../fonts/CaviarDreams.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: CaviarDreamsBold;
  /* Гарнитура шрифта */
  src: url(../fonts/CaviarDreams_Bold.ttf);
  /* Путь к файлу со шрифтом */ }

.header {
  height: 300px;
  background-color: #f00; }

.header {
  height: 400px; }

.container {
  width: 1240px;
  background: #f00;
  margin: 0 auto; }
