header.header
    #mobmenu-wrap
        .mobmenu-bar
            a(href='/').logo.logo_mob
                img(src="/img/svg/gordisky_mob_logo.svg", alt="gordinsky").logo__img.logo__img_mob
            .mobmenu-bar__arch
                img(src="/img/svg/architect-designer.svg", alt="gordinsky architect designer").mobmenu-bar__arch-img 
            a(href="/portfolio").burger-menu.mobmenu-btn
                .burger-menu__item.burger-menu_tarrow
                .burger-menu__item
                .burger-menu__item.burger-menu_barrow

