.project.main-wrap
    .project-slider.wow.zoomIn#revslider_project(style="display:none;", data-version="5.4.7.4" data-wow-duration="2s" data-wow-delay=".5s")
        ul
            li(data-transition="fade", data-slotamount="6", data-hideafterloop="0", data-hideslideonmobile="off",  data-easein="Power2.easeInOut", data-easeout="Power2.easeInOut", data-masterspeed="1000", data-rotate="0", data-saveperformance="off", data-title="Slide")
                img(src="/img/slide1.jpg", alt="gordinsky").slides__img
            li(data-transition="fade", data-slotamount="6", data-hideafterloop="0", data-hideslideonmobile="off",  data-easein="Power2.easeInOut", data-easeout="Power2.easeInOut", data-masterspeed="1000", data-rotate="0", data-saveperformance="off", data-title="Slide")
                    img(src="/img/slide2.jpg", alt="gordinsky").slides__img
    .proj-info.wow.fadeInUp(data-wow-delay="2s")
        .proj-info__left.proj-text
            .proj-text__textBack
            .proj-text__hideScroll
            .proj-text__text-wrap
                p.proj-text__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate itaque ratione pariatur officiis ipsum reprehenderit recusandae voluptates labore maiores, rerum et consequuntur. Tenetur, minus? Tempora distinctio temporibus laborum debitis beatae?
                p.proj-text__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate itaque ratione pariatur officiis ipsum reprehenderit recusandae voluptates labore maiores, rerum et consequuntur. Tenetur, minus? Tempora distinctio temporibus laborum debitis beatae?  
                p.proj-text__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate itaque ratione pariatur officiis ipsum reprehenderit recusandae voluptates labore maiores, rerum et consequuntur. Tenetur, minus? Tempora distinctio temporibus laborum debitis beatae?     
                p.proj-text__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate itaque ratione pariatur officiis ipsum reprehenderit recusandae voluptates labore maiores, rerum et consequuntur. Tenetur, minus? Tempora distinctio temporibus laborum debitis beatae?        
        .proj-info__right
            .proj-info__name-wrap
                p.proj-info__name подпись к фото или его название, если необходимо
            .arrows
                a(href="#").arrows__left#prevSlideProject
                .slide-status-numbers.arrows__numb
                a(href="#").arrows__right#nextSlideProject