.portfolio.main-wrap.base-wrap
   .portfolio__top-back
   a(href="#about-me" data-wow-delay="3s" data-wow-duration="1s").arrow-down.arrow-down_bottom1.arrow-down_fixed.wow.fadeIn.non-focused#downPortfolio
   .port-wrap
        .portpic__wrap.portpic__wrap_left#1lkjtrytrh
            a(href="/project" data-wow-duration="3s").portpic__block.portpic__block_left.wow.fadeInLeft
                img(src="/img/6.jpg", alt="gordinsky").portpic__img.portpic__img_left
                .portpic__line.portpic__line_left
                    p.portpic__name.portpic__name_left Название проекта 1
        .portpic__wrap.portpic__wrap_right#2grj4j6j
            a(href="/project" data-wow-duration="3s").portpic__block.portpic__block_right.wow.fadeInRight
                img(src="/img/12.jpg", alt="gordinsky").portpic__img.portpic__img_right
                .portpic__line.portpic__line_right
                    p.portpic__name.portpic__name_right Название проекта 2
        .portpic__wrap.portpic__wrap_left-duo#3rtykyk567
            a(href="/project" data-wow-duration="3s").portpic__block.portpic__block_left.wow.fadeInLeft
                img(src="/img/3.jpg", alt="gordinsky").portpic__img.portpic__img_left
                .portpic__line.portpic__line_left
                    p.portpic__name.portpic__name_left Название проекта 3
        .portpic__wrap.portpic__wrap_right-duo#4gh4jtyjtj
            a(href="/project" data-wow-duration="3s").portpic__block.portpic__block_right.wow.fadeInRight
                img(src="https://i.pinimg.com/736x/7b/cd/b9/7bcdb99875be154fa55ad3df89a7b87d.jpg", alt="gordinsky").portpic__img.portpic__img_right
                .portpic__line.portpic__line_right
                    p.portpic__name.portpic__name_right Название проекта 4
        .portpic__wrap.portpic__wrap_left()#5lk34trh
            a(href="/project" ).portpic__block.portpic__block_left.wow.fadeInLeft
                img(src="/img/6.jpg", alt="gordinsky").portpic__img.portpic__img_left
                .portpic__line.portpic__line_left
                    p.portpic__name.portpic__name_left Название проекта 5