.services.main-wrap#services
    .serv#serv-menu
        a(href="#" data-wow-delay=".7s").serv__item.wow.fadeInUp
            .serv__icon-wrap
                .serv__icon
                    include ../../../img/svg/ico_design_pr.svg
            .serv__text-wrap
                p.serv__text Дизайн -<br> проект
        a(href="#" data-wow-delay="1s").serv__item.wow.fadeInUp
            .serv__icon-wrap
                .serv__icon.serv__icon_second
                    include ../../../img/svg/ico_teh_pr.svg
            .serv__text-wrap
                p.serv__text технический <br> проект
        a(href="#" data-wow-delay="1.3s").serv__item.wow.fadeInUp
            .serv__icon-wrap
                .serv__icon.serv__icon_thirds
                    include ../../../img/svg/ico_house_pr.svg
            .serv__text-wrap
                p.serv__text проекты <br> домов
        a(href="#" data-wow-delay="1.6s").serv__item.wow.fadeInUp
            .serv__icon-wrap
                .serv__icon.serv__icon_fours
                    include ../../../img/svg/ico_services.svg
            .serv__text-wrap
                p.serv__text дополнительные <br> услуги

        