footer.footer
    .footer__top
        .footer__top-wrap
            .address.wow.animate.fadeIn(data-wow-duration="1s")
                p.footer__text.address__text-wrap Днепр, <br> проспект Гагарина, 74, <br> офіс 513
            .footer__vr
            .contact.wow.animate.fadeIn(data-wow-duration="1s")
                a(href="tel:0967777777").contact__link.contact__tel 096 777 77 77
                a(href="mailto:info@gordinsky.com.ua").contact__link.contact__mail info@gordinsky.com.ua
    .footer__bottom
        p.fbot-text 2019 &copy; gordinsky.com

