.sidebar-wrap
    aside.sidebar
        a(href='/').logo.non-focused
            img(src="/img/svg/gordisky_logo.svg", alt="gordinsky").logo__img
        nav.menu__wrap.menu_left
            ul.menu
                li.menu__item
                    a(href="/portfolio").menu__link портфолио
                li.menu__item
                    a(href="/services").menu__link услуги студии
                li.menu__item
                    a(href="/contact").menu__link.menu__link_active контакты
        .social__wrap
            ul.social.social_right
                li.social__item
                    a(href="#").social__link
                        img(src="/img/svg/youtube.svg", alt="youtube").social__img
                li.social__item
                    a(href="#").social__link
                        img(src="/img/svg/instagram.svg", alt="instagram").social__img
                li.social__item
                    a(href="#").social__link
                        img(src="/img/svg/facebook.svg", alt="facebook").social__img
                li.social__item
                    a(href="#").social__link
                        img(src="/img/svg/pinterest.svg", alt="pinterest").social__img
                