.contacts.main-wrap#services
    .contacts-wrap.wow.fadeIn(data-wow-delay=".5s")
        .contacts__text-wrap.wow.fadeInLeft(data-wow-delay="1.5s" data-wow-duration="1.5s")
            a(href="tel:0967777777").contacts__text.contacts__text_tel 096 777 77 77
            a(href="tel:0967777777").contacts__text.contacts__text_tel 096 777 77 77
            a(href="mailto:info@gordinsky.com.ua").contacts__text.contacts__text_mail info@gordinsky.com.ua
            p.contacts__text.contacts__text_place Днепр, проспект Гагарина, 74 офіс 513
            a(href="#").contacts__text.contacts__text_maps Посмотреть на карте
        .contacts__form-wrap.wow.fadeInRight(data-wow-delay="1.5s" data-wow-duration="1.5s")
            form(name="contactSend" id="contacForm1" method="" action="#").contacts__form
                input(type="text" placeholder="Имя").contacts__input
                input(type="tel" placeholder="номер телефона").contacts__input
                textarea(name="" placeholder="коментарий").contacts__input.contacts__textarea
                input(type="submit" value="отправить").contacts__submit
    .contacts-map.wow.fadeIn(data-wow-delay=".5s")
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.406209825534!2d35.03692211609892!3d48.42954307924773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbfcb356ef2c8d%3A0xcd57ecf771f55c32!2z0L_RgNC-0YHQvy4g0JPQsNCz0LDRgNC40L3QsCwgNzQsINCU0L3QuNC_0YDQviwg0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1sru!2sua!4v1558614134615!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
    

        