<div class="sidebar-wrap">
  <aside class="sidebar"><a class="logo non-focused" id="routerMain" routerLink="/"><img class="logo__img" src="/assets/img/svg/gordisky_logo.svg" alt="gordinsky"></a>
    <app-sidebar-menu></app-sidebar-menu>
    <div class="social__wrap">
      <ul class="social social_right">
        <li class="social__item"><a class="social__link" href="#"><img class="social__img" src="/assets/img/svg/youtube.svg" alt="youtube"></a></li>
        <li class="social__item"><a class="social__link" href="#"><img class="social__img" src="/assets/img/svg/instagram.svg" alt="instagram"></a></li>
        <li class="social__item"><a class="social__link" href="#"><img class="social__img" src="/assets/img/svg/facebook.svg" alt="facebook"></a></li>
        <li class="social__item"><a class="social__link" href="#"><img class="social__img" src="/assets/img/svg/pinterest.svg" alt="pinterest"></a></li>
      </ul>
    </div>
  </aside>
</div>
