doctype html
html(lang="en")
	include includes/_head
	body 
		.wrapper
			.main-content
				include includes/_header
				include includes/_main
				include includes/_aside
		script(src="./js/components/scrolling.js")
		//- script(src="js/plugins/flux.js")
		script(src="./js/plugins/jquery.themepunch.tools.min.js")
		script(src="./js/plugins/jquery.themepunch.revolution.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
		script(src="./js/plugins/easings.min.js")
		script(src="./js/plugins/fullpage.min.js")
		script(src="./js/plugins/jquery.shuffleLetters.js")
		script(src="./js/common.js")
		script(src="./js/menu.js")
		script.
			new WOW({mobile:false}).init();
