<nav class="menu__wrap menu_left">
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" id="routerPortfolio" routerLink="/portfolio" routerLinkActive="menu__link_active">портфолио</a></li>
    <li class="menu__item"><a class="menu__link" id="routerUslugi" routerLink="/uslugi" routerLinkActive="menu__link_active">услуги студии</a></li>
    <li class="menu__item"><a class="menu__link" id="routerContact" routerLink="/contact" routerLinkActive="menu__link_active">контакты</a></li>
  </ul>
</nav>
