.contact-form.main-wrap#services
    .con-form
        .con-form__text-wrap
            p.con-form__text Напишите нам свои пожелания или вопрос. 
            p.con-form__text Мы свяжемся с Вами в кратчайшие сроки.
        .con-form-wrap
            form(name="contactSend2" id="contacForm2" method="" action="#").contacts__form
                input(type="text" placeholder="Имя").contacts__input.con-form__inputs
                input(type="tel" placeholder="номер телефона").contacts__input.con-form__inputs
                textarea(name="" placeholder="коментарий").contacts__input.contacts__textarea.con-form__inputs.con-form__inputs_textarea
                input(type="submit" value="отправить").contacts__submit.con-form__submit
   
    

        