$baseColor:#fff;
//header
$mobmenuBack:#fff;
//aside
$asideBack:rgba(255,255,255,.5);
$socialBack:#000;
$socialBackHover:#424242;
$menuLink:#000;
//main
$mainBack:#fff;
$mainRect1:#c7afad;
$mainRect2:#424242;
$arrowDownBack:rgba(255,255,255,.5);
$arrowDownBackHover:rgba(255,255,255,.3);
$aboutBackLink:rgba(0,0,0,.5);
$aboutBackLinkHover:rgba(0,0,0,.7);
$aboutBack:rgba(66, 66, 66, 0.5);
//portfolio
$projectName:#000;
//contact
$baseBack:#c7afad;
$backForm:#424242;
//footer
$footerTop:#c7afad;
$footerBottom:#424242;
$footerText:#fff;
